body {
  background-image: url('../images/FlagOfKenya.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron {
  opacity: 0.95;
}
.prof {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.prof>h4 {
  font-family: Quicksand;
}
.prof>h6 {
  font-family: Montserrat;
}
.prof:hover {
  cursor: pointer;
  font-style: italic;
  text-transform: lowercase;
  text-decoration: underline;
  color: blue;
}
