@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Quicksand:400,500,700');

html, body {
    font-family: 'Playfair Display', serif;
}

body {
    padding: 0;
    margin: 0;
}

#page {
    width: 100%;
    height: 100%;
    background-color: #30292F;
    overflow-x: hidden;
}

.nav-bar {
    width: 100%;
    height: 80px;
    margin-top: 15px;
}

.nav-bar img {
    width: 40px;
    height: 40px;
    float: left;
    padding: 10px 8px;
}

nav ul {
    width: 100%;
    padding: 0 8px;
    text-align: right;
}

nav ul li {
    display: inline-block;
    padding: 10px 15px;
}

nav ul li a {
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: #707070;
    font-size: 14px;
    font-weight: 500; 
}

header {
    margin: 13% 15px;
}

header h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 50px;
    color: #707070;
    width: 50%;
    line-height: 1.5;
}

header button {
    color: #707070;
}

.header-text {
    width: 80%;
    margin: 2% auto; 
}

.header-text h1, .header-text h3 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 30px;
}

.header-text h1 {
    font-weight: 800;
    font-size: 50px;
    color: #707070;
    line-height: 1.5;  
}

.header-text p {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.header-text h3 {
    font-weight: 600;
    color: #707070;
    font-size: 20px;
}

.cta-btn {
    border: 2px solid #707070;
    padding: 8px 12px;
    background-color: transparent;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

footer {
    width: 100%;
    height: 30%;
    background-color: #707070;
    padding: 0;
    margin: 0;
}

.f-nav {
    padding: 15px 0;
}

.f-nav ul li {
    display: block;
    padding: 3px 0;
}

.f-nav ul li a {
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    color: #30292F;
    font-weight: 500;
    font-size: 12px;
    padding: 5px 0;
}

footer p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 13px;
    padding: 3px 0;
}

.sidebar {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 18%;
    font-family: 'Quicksand', sans-serif;
    background-color: #fff;
    border-right: 2px;
    border-color: #707070;
    float: left;
}

.profile-head {
    width: 80%;
    margin: 0 auto;
}

.profile-head img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.profile-head h4 {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
}

.profile-head p {
    font-size: 12px;
}

.side-menu {
    margin-top: 30px;
}

.side-menu ul li {
    display: block;
    border: 2px 0 2px 0 solid #707070;
    font-size: 14px;
    padding: 9px 0;
    border-top: 2px;
    border-bottom: 2px;
    border-color: #707070;
}

.side-menu ul li::before {
    content: '';
    border: 2px solid #707070;
}

.side-menu ul li a {
    text-decoration: none;
    color: #30292F;
}

.profile-content {
    width: 82%;
}

.timeline {
    margin: 0 15px;
    box-sizing: border-box;
}

.left {
    float: left;
}

.right {
    float: right;
}

.timeline-content {
    width: 50%;
}

.timeline::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid #707070;
    border-radius: 50%;
}

.timeline-content::before {
    content: '';
    border: 1px solid #707070;
    position: absolute;
    left: 50%;
}




