@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Quicksand:400,500,700');

html, body {
    font-family: 'Playfair Display', serif;
}

body {
    padding: 0;
    margin: 0;
}

#page {
    width: 100%;
    height: 100vh;
    background-color: #30292F;
    overflow-x: hidden;
}

.nav-bar {
    width: 100%;
    padding: 20px 15px;
    margin: 0;
}

.nav-bar img {
    width: 35px;
    height: 35px;
    float: left;
    padding: 5px;
}

nav ul {
    width: 90%;
    margin: 6px 0;
    padding: 0 8px;
    text-align: right;
    display: inline-block;
}

nav ul li a {
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: #707070;
    font-size: 14px;
    font-weight: 500; 
}

header {
    margin: 0 15px;
}

header h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 50px;
    color: #707070;
    width: 50%;
}

header button {
    color: #707070;
}

.cta-btn {
    border: 2px solid #707070;
    padding: 8px 12px;
    background-color: transparent;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

footer {
    width: 100%;
    height: 30%;
    background-color: #707070;
    padding: 0;
    margin: 0;
}

.f-nav ul li {
    display: block;
    padding: 10px;
}

.f-nav ul li a {
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    color: #30292F;
    font-weight: 500;
    font-size: 12px;
    padding: 5px;
}

